<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SUBSCRIBING</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <form method="POST" action="/subscribe">
    <h1>Subscribe our news letter now!</h1>
    <input type="email" name="email" required placeholder="Enter your email" />
    <button type="submit">Subscribe</button>
  </form>
</body>
</html>
